.logo {
  width: 117px;
  height: 34pxl;
  top: 48px;
  left: 103px;
}

.logoText {
  font-family: Sulphur Point;
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
