.col1 {
  width: 650px;
  height: 182px;
  top: 305px;
  left: 91px;
  border: 2px;
  padding: 16px;
  img {
    width: 100px;
    height: 40px;
    margin-left: 5px;
  }
}

.col2 {
  width: 587px;
  height: 286px;
  top: 259px;
  left: 762px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colreactngle1 {
  width: 590.5px;
  height: 505px;
  top: 1028px;
  left: 129px;
  border-radius: 15px, 0px, 0px, 15px;
  background: #008480;
  padding: 57px;
  color: #ffffff;
  font-family: Roboto;
  display: flex;
  justify-content: center;
  align-items: center;
  p{
    margin: 3;
  }
  h3{
    margin: 1;
  }
}

.colreactngle2 {
  width: 590.5px;
  height: 505px;
  top: 1028px;
  left: 719px;
  border-radius: 0px, 15px, 15px, 0px;

}
